# Pandas : 
- Pandas is a powerful Python library used for data manipulation, data analysis, and data cleaning.
- It is built on top of NumPy and provides high-level, easy-to-use data structures that make working with structured data fast and intuitive.

Pandas provides:

- Fast and flexible data structures

- Tools to read, clean, transform, analyze, and visualize data

- Support for tabular data (like Excel, CSV, SQL tables)

# Core Data Structures in Pandas
# 1) Series

- One-dimensional labeled array

- Similar to a column in Excel

In [10]:
import pandas as pd
seri = pd.Series([10,20,30])
print(seri)

0    10
1    20
2    30
dtype: int64

# 2) DataFrame

- Two-dimensional data structure (labeled array) (rows + columns)

- Similar to an Excel sheet or SQL table

In [12]:
#let we have some data in form of dictionary
info = {
    "Names" : ["Amit", "Smruti", "Kalu"],
    "CGPA" : [8.9, 9.3, 9.5],
    "Marks" : [90, 93, 97]
    
}
df = pd.DataFrame(info)
print(df)

    Names  CGPA  Marks
0    Amit   8.9     90
1  Smruti   9.3     93
2    Kalu   9.5     97

In [13]:
df

    Names  CGPA  Marks
0    Amit   8.9     90
1  Smruti   9.3     93
2    Kalu   9.5     97