# DataFrames in pandas
- A DataFrame is a 2-dimensional, labeled, size-mutable data structure that can store different types of data (int, float, string, boolean).

In [1]:
import pandas as pd

In [10]:
#dataFrame

info = {
    "Name" : ["Shreyash","Samir","Soya"],
    "Age" : [19, 20, 21],
    "CGPA" : [8.7, 8.9, 7.1]
}

df = pd.DataFrame(info)
print(df)
print(type(df))

print(df.index)
print(df.columns)

       Name  Age  CGPA
0  Shreyash   19   8.7
1     Samir   20   8.9
2      Soya   21   7.1
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'CGPA'], dtype='object')

In [11]:
df

       Name  Age  CGPA
0  Shreyash   19   8.7
1     Samir   20   8.9
2      Soya   21   7.1

In [12]:
#creating DataFrame from List of List
df1 = pd.DataFrame([["Shrey",20],["Sumit",21],["Kalu",22]], columns =["Name","Age"])
print(df1)

    Name  Age
0  Shrey   20
1  Sumit   21
2   Kalu   22

In [13]:
df1

    Name  Age
0  Shrey   20
1  Sumit   21
2   Kalu   22

In [15]:
#Creating DataFrame from NumPy array

import numpy as np

arr = np.array([[1,2,3],[4,5,6]])

df = pd.DataFrame(arr, columns = ["A","B","C"])

print(df)

   A  B  C
0  1  2  3
1  4  5  6

In [16]:
df

   A  B  C
0  1  2  3
1  4  5  6