In [1]:
# Filtering data

#eg : Filter cities whose aqi is > 150

In [2]:
import pandas as pd

In [5]:
#Creating DataFrame
df = pd.read_csv("globalAirQuality.csv")

In [8]:
#Filtering Data

df[df["aqi"]>220]

df[(df["aqi"]>150) & (df["temperature"]>30)]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6,2025-11-05 00:25:17.554219,US,New York,40.713,-74.006,77.690,65.198,20.302,7.641,62.687,0.734,155,36.729,47.651,4.542
44,2025-11-06 14:25:17.554219,US,New York,40.713,-74.006,78.186,114.005,17.993,5.932,18.151,0.845,156,31.779,49.093,8.211
112,2025-11-09 10:25:17.554219,US,New York,40.713,-74.006,96.012,102.666,38.339,6.486,42.027,1.643,192,32.786,32.631,6.679
284,2025-11-16 14:25:17.554219,US,New York,40.713,-74.006,45.166,22.487,60.561,7.099,46.524,0.713,151,30.502,28.579,1.484
329,2025-11-18 11:25:17.554219,US,New York,40.713,-74.006,83.572,75.714,33.379,3.808,45.413,1.028,167,33.786,64.254,8.256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17589,2025-11-17 15:25:17.554219,FI,Helsinki,60.170,24.938,37.575,107.130,64.094,4.896,61.119,0.291,160,37.351,61.905,8.554
17665,2025-11-05 19:25:17.554219,CH,Zurich,47.377,8.542,83.983,68.949,28.235,5.630,47.920,0.813,167,35.033,55.349,9.125
17797,2025-11-11 07:25:17.554219,CH,Zurich,47.377,8.542,35.086,48.050,68.344,9.949,53.034,0.864,170,34.378,35.373,6.367
17821,2025-11-12 07:25:17.554219,CH,Zurich,47.377,8.542,83.401,57.483,30.061,2.951,43.426,0.619,166,35.425,78.880,2.702
17822,2025-11-12 08:25:17.554219,CH,Zurich,47.377,8.542,20.396,25.365,67.072,5.699,31.725,0.791,167,36.316,47.328,3.349